body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

section#lugares-de-interes {
    max-width: 800px;
    margin: 20px auto;
}

article.lugar {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

article.lugar img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
